body {
    font-family: Arial;
    background-color: lightgray;
    text-align: center;
    margin-top: 100px;
}

.container {
    background-color: white;
    width: 350px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

p {
    font-size: 18px;
    margin-top: 20px;
}